{% extends 'base.html.twig' %}

{% block title %}{% trans %}Registration{% endtrans %} {% endblock %}

{% block body %}
	<h1 class='text-center'>{% trans %}Registration{% endtrans %}</h1>
	<section class="container">
		<div class="row">
			<div class="col">
				{{ form_start(registrationForm) }}
				{{ form_errors(registrationForm) }}

				<fieldset class="mb-3">
					<legend class='custom-bold'>{% trans %}My identity{% endtrans %}</legend>
					{{ form_row(registrationForm.firstname) }}
					{{ form_row(registrationForm.lastname) }}
					{{ form_row(registrationForm.birthdate) }}
					{{ form_row(registrationForm.email) }}
				</fieldset>

				<fieldset class="mb-3">
					<legend class='custom-bold'>{% trans %}My details{% endtrans %}</legend>
					{{ form_row(registrationForm.address) }}
					{{ form_row(registrationForm.city) }}
					{{ form_row(registrationForm.zipcode) }}
					{{ form_row(registrationForm.phoneNum) }}
				</fieldset>

				<fieldset class="mb-3">
					<legend class='custom-bold'>{% trans %}Password{% endtrans %}</legend>
					{{ form_row(registrationForm.password) }}
				</fieldset>

				{{ form_row(registrationForm.RGPDConsent) }}

				<button type="submit" class="btn btn-primary btn-lg my-3">{% trans %}Sign Up{% endtrans %}</button>
				<a href="{{ path('app_login')}}" class='btn btn-secondary btn-lg'>{% trans %} Login {% endtrans %}</a>
				{{ form_end(registrationForm) }}


			</div>
		</div>
	</section>
{% endblock %}
