{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}

    <h1 class="mx-5 my-3" >Historique des réservations</h1>
    <div class="container d-flex justify-content-end align-items-center my-3">
        <a class="btn btn-primary" href="{{ path('app_reservation_new') }}">Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in data %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.title }}</td>
                <td>{{ reservation.start ? reservation.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.end ? reservation.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.description }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
    <h1 class="mx-5 my-3" >Les créneaux disponibles </h1>

    <div id="calendar" class=" mx-auto my-5 p-3 bg-body"></div>
    

{% endblock %}
{% block javascripts %}
    <script>


  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      
     initialView: 'timeGridWeek',
     headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridDay',
            },
     locale: 'fr',
     timeZone: 'Europe/Paris',
     firstDay: 1,
     allDaySlot: false, // Désactive l'option all-day
     slotMinTime: "07:00", // Début des slots visibles
     slotMaxTime: "20:00", // Fin des slots visibles
     expandRows: true, // Assure que les rangées prennent toute la hauteur disponible
     businessHours: {
                    daysOfWeek: [1, 2, 3, 4, 5], // Jours de la semaine actifs
                    startTime: '8:00', // Début de la journée de travail
                    endTime: '19:00' // Fin de la journée de travail
            },
     events: {{ data|raw }}
    
    });

    calendar.render();
  });


    </script>
{% endblock %}
