{% extends 'base.html.twig' %}

{% block title %}{% trans %}Reservation {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Reservation {% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Title {% endtrans %}</th>
                <td>{{ reservation.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}Start {% endtrans %}</th>
                <td>{{ reservation.start ? reservation.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}End {% endtrans %}</th>
                <td>{{ reservation.end ? reservation.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description {% endtrans %}</th>
                <td>{{ reservation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation') }}">{% trans %}back to list {% endtrans %}</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">{% trans %}Edit {% endtrans %}</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
