{% extends "base.html.twig" %}

{% block title %}
	Livre :
	{{ book.name }}
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme='dark' >
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Catégories</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor04">
			<ul class="navbar-nav me-auto">
				{% for c in cat %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('book_category', {'slug': c.slug}) }}">{{ c.name }}</a>
					</li>
				{% endfor %}
			</ul>
	
		</div>
	</div>
</nav>

	<h1>{{ book.name }}
	</h1>
	<div class="row">
		<div class="col-md-4">
			{# <img class="img-fluid" src="{{ book.picture }}" alt="{{ book.name }}"> #}
			{# <img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="{{ book.name }}" class="img-fluid"> #}
		</div>
		<div class="col">
			<span class="badge bg-primary">
				{{ book.category.name }}
			</span>
			<span class="badge bg-danger">
				{{ book.author.firstname }}
				{{ book.author.lastname }}
			</span>
			<p>Date de parution :
				{{ book.publicationAt | date("Y") }}</p>
			<p>{{ book.description | raw | nl2br }}</p>
			<p>Etat :
				{{ book.state.name }}</p>
			<a href="#" class="btn btn-success btn-lg">
				<i class="fas fa-shopping-cart"></i>
				Réserver
			</a>
		</div>
	</div>
{% endblock %}
