{% extends 'base.html.twig' %}

{% block title %}Liste des bannis
{% endblock %}

{% block body %}

	<h1>Utilisateurs bannis</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in bannedUsers %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_unban', {'id': user.id}) }}" class="btn btn-success" onclick="return confirm('êtes vous sur de vouloir debannir cet utilisateur?');">Débannir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
