{% extends 'base.html.twig' %}

{% block title %}Hello planscriptionController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4">
				<div class="card">
					<div class="card-body">

						<form id='checkout-form' method='post' action="{{ path('app_stripe_charge', {'id': plan.id}) }}">

							<form id='checkout-form' method='post' action="{{ path('app_stripe_charge', {'id': plan.id}) }}">
								<input type='hidden' name='stripeToken' id='stripe-token-id'>
								<label for="card-element" class="mb-5 text-light">{% trans %}subscription{% endtrans %}
									{{ plan.name }}:
									{{ plan.price / 100 | number_format(2) }}
									€
								</label>
								<br>
								<div id="card-element" class="form-control"></div>
								<button id='pay-btn' class="btn btn-success mt-3" type="button" style="margin-top: 20px; width: 100%;padding: 7px;" onclick="createToken()">{% trans %}Pay{% endtrans %}
									{{ plan.price / 100 | number_format(2) }}
									€</button>
							</button>
							<form></div>
						</div>
					</div>
				</div>
			</div>

			<script src="https://js.stripe.com/v3/"></script>
			<script>
				let stripe = Stripe("{{ stripe_key }}");
let elements = stripe.elements();
let cardElement = elements.create('card');
cardElement.mount('#card-element');

function createToken() {
document.getElementById("pay-btn").disabled = true;
stripe.createToken(cardElement).then(function (result) {


if (typeof result.error != 'undefined') {
document.getElementById("pay-btn").disabled = false;
alert(result.error.message);
}


if (typeof result.token != 'undefined') {
document.getElementById("stripe-token-id").value = result.token.id;
document.getElementById('checkout-form').submit();
}
});
}
			</script>
		{% endblock %}
