<section class="container">
	<div class="row">
		<div class="col">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-primary mt-3">{% trans %}Update  {% endtrans %}</button>

			<a href="{{ path('app_user_show', {'id' :app.user.id}) }}" class=' btn btn-primary mt-3'>{% trans %}Back to my profil {% endtrans %}</a>

			{% if 'ROLE_ADMIN' in app.user.roles %}
				<a href="{{ path('app_user')}}" class='btn btn-primary mt-3'>{% trans %}User handler  {% endtrans %}</a>
			{% endif %}


			{{ form_end(form) }}
		</div>
	</div>
</section>
