{% extends 'base.html.twig' %}

{% block title %}{% trans %}Information  {% endtrans %}
	{{ user.firstname}}
	-
	{{ user.lastname }}
{% endblock %}

{% block body %}

	<h1 class='text-center'>{{ user.firstname }}
		-
		{{ user.lastname }}</h1>

	<table class="table table-dark">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>{% trans %}First name  {% endtrans %}</th>
				<td>{{ user.firstname }}</td>
			</tr>
			<tr>
				<th>{% trans %}Last name {% endtrans %}</th>
				<td>{{ user.lastname }}</td>
			</tr>
			<tr>
				<th>{% trans %}Email  {% endtrans %}</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>{% trans %}Subscription  {% endtrans %}</th>
				<td>
					{% if app.user is not null and app.user.subscriptions is not empty %}
						{% for sub in app.user.subscriptions %}
							{% if sub.isActive %}
								{{ sub.plan.name }}
							{% endif %}
						{% endfor %}
					{% endif %}
				</td>
			</tr>
		</tbody>
	</td>
</tr>
<tr>
	<th>Roles</th>
	<td>
		{% if 'ROLE_ADMIN' in user.roles %}
			{% trans %}Administrator {% endtrans %}
		{% elseif 'ROLE_USER' in user.roles %}
			{% trans %}User  {% endtrans %}
		{% endif %}
	</td>
</tr>
<tr>
	<th>{% trans %}Date of birth  {% endtrans %}</th>
	<td>{{ user.birthdate ? user.birthdate|date('Y-m-d') : '' }}</td>
</tr>
<tr>
	<th>{% trans %}Adress  {% endtrans %}</th>
	<td>{{ user.address }}</td>
</tr>
<tr>
	<th>{% trans %}Zipcode  {% endtrans %}</th>
	<td>{{ user.zipcode }}</td>
</tr>
<tr>
	<th>{% trans %}City  {% endtrans %}</th>
	<td>{{ user.city }}</td>
</tr>
<tr>
	<th>{% trans %}Phone {% endtrans %}</th>
	<td>{{ user.phoneNum }}</td>
</tr>
</tbody>
</table>
 <div class="container d-flex justify-content-center">
	<a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class='btn btn-primary mx-3'>{% trans %}Change my information{% endtrans %}</a>
	<a class="btn btn-success" href="{{ path('app_user_show_rdv', {'id': app.user.id}) }}">{% trans %}See my room reservations{% endtrans %}</a>
</div>
{% endblock %}