{% extends 'base.html.twig' %}

{% block title %}Hello UserHistoryController!
{% endblock %}

{% block body %}
	{% for message in app.flashes('danger') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<h1 class='text-center'>Historique de vos réservations</h1>

<div class="row mx-4">
	{% for r in reservationList %}
		{% if r.getUsers().getId() == app.user.id %}
			<div class="card border-secondary mx-2" style="max-width: 18rem;">
				<div class="card-header">{{ r.title }}</div>
				<div class="card-body text-secondary">
					<h5 class="card-title">Salle
						{{ r.getSalle().getNom() }}</h5>
					<h6>
						Le
						{{ r.start|date('d-m-Y') }}
						De
						{{ r.start|date('H:i') }}
						h jusqu'à
						{{ r.end|date('H:i') }}
						h
					</h6>
					<p class="card-text">{{ r.description }}</p>
					<a href="{{ path('app_rating', {'id': r.getSalle().getId()}) }}" class='btn btn-primary'>Laisser un avis</a>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>

{% endblock %}
